.claude
/host_vars/*
/packaging/build/
/packaging/gsdeploy*.deb
/packaging/version

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.env
.venv
env/
venv/
ENV/
gsdeploy-venv/
