global:
  scrape_interval:     15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:{{ prometheus_port }}']

  - job_name: 'node_exporter'
    static_configs:
      - targets:
{% for host in groups['all'] | sort %}
{% if hostvars[host]['ansible_host'] is defined %}
          - '{{ hostvars[host]["ansible_host"] }}:9100'
{% endif %}
{% endfor %}

  - job_name: 'cadvisor'
    static_configs:
      - targets:
{% for host in groups.get('game_servers', []) | sort %}
{% if hostvars[host]['ansible_host'] is defined %}
          - '{{ hostvars[host]["ansible_host"] }}:8080'
{% endif %}
{% endfor %}

  - job_name: 'mc_monitor'
    file_sd_configs:
      - files:
          - /etc/prometheus/targets/*.json
        refresh_interval: 30s
